.container {
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: rgb(154, 82, 15);
    color: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    border-radius: 6px;
}

.btn {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    margin: 0 2px;
}

.action-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.modify {
    background-color: #27ae60;
}

.modify:hover {
    background-color: #1e834a;
}

.delete {
    background-color: #e74c3c;
}

.delete:hover {
    background-color: #952d21;
}

.pagination {
    text-align: center;
}

.pagination a {
    margin: 0 4px;
    padding: 6px 12px;
    background: #ddd;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
}

.pagination a.active, .pagination a:hover {
    background: rgb(234, 175, 66);
    color: #fff;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 8px;
    }

    .btn {
        padding: 4px 8px;
    }
    
}