main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

.profile-header h2 {
    color: var(--salmon-pink);
}

.profile-header p {
    color: #666;
}

.profile-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.profile-info label {
    font-weight: bold;
    color: #333;
    flex: 3;
}

.profile-info p, input {
    margin: 5px 0 0;
    color: #555;
    flex:5;
}

.actions {
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.actions a, .save-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--dark-pink);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.actions a:hover, .save-btn:hover {
    background-color: var(--salmon-pink);
}

.save-btn {
    border: none;
}

.actions .logout {
    background-color: ghostwhite;
    border: 1.5px solid #c7c7c7;
    color: #686666;
    height: 35px;
    display: flex;
    align-items: center;
    align-items: center;
    cursor: pointer;
}

.actions .logout:hover {
    background-color: #333;
    color: ghostwhite;
}

.del-btn {
    border: none;
    outline: none;
    background-color: white;
    color: #6b140a;
    font-size: 16px;
    box-sizing: border-box;
    height: 35px;
}

.del-btn:hover {
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

/* FORM */
form {
    width: 100%;
}

form input {
    height: 30px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form input:focus {
    border: 2px solid var(--dark-pink);
    outline: none;
}

@media screen and (max-width: 768px) {
    .profile-container {
        padding: 20px;
        width: 90%;
    }

   .actions a {
    font-size: 13px;
    padding: 5px;
   }
}