.container {
    padding: 30px;
}

h2 {
    margin-top: 20px;
    font-size: 2rem;
    color: var(--dark-pink);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: rgb(154, 82, 15);
    color: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f3ece0;
}

img {
    border-radius: 6px;
}

.btn {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    margin: 0 2px;
}

.cell-name {
    color: #333;
    
}

.cell-name:hover {
    text-decoration: underline;
}
.cell-name span {
    color: rgb(197, 197, 197);
}
.cell-name span:hover {
    text-decoration: none;
}

.action-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.modify {
    background-color: #27ae60;
}

.modify:hover {
    background-color: #1e834a;
}

.delete {
    background-color: #e74c3c;
    cursor: pointer;
}

.delete:hover {
    background-color: #952d21;
}

.view-btn {
    background-color: #f3fdf9;
    padding: 6px 12px;
    border: 1px solid rgb(83, 116, 83);
    color: rgb(83, 116, 83);
    border-radius: 4px;
}

.view-btn:hover {
    background-color: rgb(217, 251, 223);
}

.pagination {
    text-align: center;
}

.pagination a {
    margin: 0 4px;
    padding: 6px 12px;
    background: #ddd;
    color: #333;
    border-radius: 4px;
}

.pagination a.active, .pagination a:hover {
    background: rgb(234, 175, 66);
    color: #fff;
}

/* Style the search and filter container */
.search-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px auto;
    align-items: center;
    width: 50%;
    align-items: center;
}

/* Style the search input */
.search-filter input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-filter input[type="text"]:focus {
    border: 2px solid var(--dark-pink);
}

/* Style the category dropdown */
.search-filter select {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    transition: border-color 0.3s ease;
}


.search-filter select:focus {
    border: 2px solid var(--dark-pink);
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .search-filter {
        flex-direction: column;
        gap: 10px;
    }

    .search-filter input[type="text"],
    .search-filter select {
        width: 100%;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 8px;
    }

    .btn {
        padding: 4px 8px;
    }
    
}