.mgnt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.drawer {
    flex: 1;
    background-color: #f0f0f0;
    border-right: 1px solid wheat;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 10px; /* Adds inner spacing */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.drawer .logo {
    width: 100%;
    max-width: 150px;
    margin: 0 auto 10px;
    border-radius: 4px;
}

.drawer h3 {
    text-align: center;
    margin-bottom: 15px;
    font-family: "Patrick Hand", cursive;
    color: #333;
    font-size: 25px;
}

.drawer hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.drawer a {
    display: block;
    padding: 10px 15px;
    margin: 8px 0;
    text-decoration: none;
    color: grey;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.drawer a:hover{
    background-color: wheat;
    color: orange;
    border-color: orange;
}

.drawer .item-active {
    background-color: wheat;
    color: orange;
}

.action-screen {
    flex: 5;
}

/* Default style for the toggle button */
.toggle-drawer-btn {
  display: none; /* Ensure the button is visible */
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 1100;
  padding: 7px;
  padding-right: 12px;
  background-color: rgba(216, 216, 216, 0.9);
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-drawer-btn img {
 width: 30px; /* Adjust the size of the icon */
}

.toggle-drawer-btn:hover {
  background-color: #ebd3d3;
  width: 60px;
  transition: width 0.5s ease;
}

/* Responsive styles: mobile view */
@media screen and (max-width: 768px) {
  .mgnt-container {
    flex-direction: column;
  }

  /* Hide the drawer off-canvas by default */
  .drawer {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 200px;
    height: 100%;
    background-color: #f0f0f0f6;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .drawer .logo {
    width: 100%;
  }

  .drawer h3 {
    font-size: 20px;
  }
  .drawer a {
    font-size: 14px;
  }

  /* When toggled open */
  .drawer.active {
    transform: translateX(0);
  }

  /* Optionally adjust the action area when the drawer is visible */
  .action-screen {
    margin-left: 0;
    transition: margin-left 0.3s ease;
  }
  .toggle-drawer-btn {
    display: block;
  }
}
